{"web":{"client_id":"1010942774-ne16f5skhmvun1gk9hj44s1cnofiojtv.apps.googleusercontent.com","project_id":"silken-slice-215806","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://accounts.google.com/o/oauth2/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"aFJ-0TEk6OwieZaTcgSWtVYt"}}